<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<title>Testing</title>
		<meta
			name="viewport"
			content="width=device-width, inital-scale=1, user-scalable=no"
		/>
		<link rel="stylesheet" href="/css/styles.css" />
		<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
	</head>
	<body class="form-center">
		<div>
			<h4>Google Analytics Report</h4>
			<div>
				<form>
					PropertyID: <input type="text" id="propertyID" placeholder="<%- propertyID%>" value="<%- propertyID%>">
				</form>
				<form>
					Emails:
				</form>
				<button onclick="load()">Refresh</button>
			</div>
			<div id="chart"></div>
			<script>
				const renderChart = data => {
					const items = [];

					data.forEach((v) => {
						items.push([v.name, v.value]);
					});

					const chart = {
						type: 'line',
						series: [{ values: items }],
					};
					// renders zingchart to the page
					zingchart.render({
						id: 'chart',
						data: chart,
						height: '100%',
						width: '100%',
					});
				};
				const apiPort = <%= port%>;
				let url = `http://localhost:${apiPort}/api/analytics/fetch-data`;

				const fetchAndRender = (targetUrl) => {
					fetch(targetUrl)
						.then((res) => {
							if (!res.ok) throw new Error(res.statusText);
							return res.json();
						})
						.then((data) => { renderChart(data) })
						.catch((error) => console.log('fetch error'));
				}

				const load = () => {
					const propertyID = document.getElementById('propertyID').value;

					if ( !propertyID ) console.error('Could not load report.')

					url+=`?propertyID=${propertyID}`
					console.log(`Get report for ${propertyID}: at ${url}`);

					fetchAndRender(url);
				};

				load();
			</script>
		</div>
	</body>
</html>
